<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/list">개발타로</a>
        <a target="_blank" href="https://open.kakao.com/o/sPG7wv8g">카톡 문의</a>
    </div>

    

    <div class="board-container">
        <a href="/submit" class="top-button">새 글 작성</a>
        <% for (let i = 0; i < post.length; i++) { %>
            <div class="post-box" id="post-box-<%= i %>">
                <div class="post" onclick="handlePostClick('<%= post[i].lock %>','<%=post[i].order%>','<%=i%>')">
                    <div class="post-state">
                        <% if (post[i].answer===null) { %>
                            <span style="border-bottom: 2px solid #f1f1f1; color: rgb(15,206,235);">[new]</span>
                        <% } else { %>
                            <span style="border-bottom: 2px solid #f1f1f1; color: #ff2a2a;">[answered]</span>
                        <% } %>
                        <% if (post[i].lock==="lock") { %>
                            <span style="color: gray;">[locked]</span>
                        <% } else { %>
                            <span style="color: rgb(0, 205, 125);">[open]</span>
                        <% } %>
                    </div>
                    <div class="post-content">
                        <div class="list-title"><%= post[i].title %></div>
                        <div class="post-author"><%= post[i].nickname %></div>
                    </div>
                    
                </div>
                <div class="password-box" style="display: none;">
                    <input 
                        type="password" 
                        id="password-<%= i %>" 
                        placeholder="비밀번호를 입력하세요">
                    <button onclick="validatePassword('<%=post[i].order%>','<%=i%>')">
                        확인
                    </button>
                </div>
            </div>
        <% } %>
    </div>
    
    <script>
        
        function handlePostClick(lock, order, index) {
            if (lock === "unlock") {
                // unlock 상태이면 서버로 POST 요청을 보내어 리디렉션 처리
                fetch('/access-unlock-post', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ postOrder: order }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.redirectTo) {
                        window.location.href = data.redirectTo;  // 서버에서 보내준 URL로 리디렉션
                    } else {
                        console.log('Failed to redirect');
                    }
                })
                .catch(error => console.error('Error:', error));
            } else {
                // lock 상태이면 비밀번호 입력창을 보여줌
                showPasswordInput(index);
            }
        }

        let before;
        let passwordBox;
        function showPasswordInput(index) {
            // 비밀번호 입력창 표시
            if(before!=null) {
                passwordBox = document.querySelector(`#post-box-${before} .password-box`);
                passwordBox.style.display = 'none';
            }
            passwordBox = document.querySelector(`#post-box-${index} .password-box`);
            passwordBox.style.display = 'block';
            before = index;
        }
        function validatePassword(order, index) {

            const passwordInput = document.querySelector(`#password-${index}`);
            const passwordValue = passwordInput.value;

            fetch('/access-lock-post', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ 
                        postOrder: order,
                        postPassword: passwordValue  }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.redirectTo) {
                        window.location.href = data.redirectTo;  // 서버에서 보내준 URL로 리디렉션
                    } else {
                        console.log('Failed to redirect');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

    </script>
    
</body>
</html>